.title {
  text-align: center;
  margin: 0;
}

.content {
  display: grid;
  gap: 12px;
  min-width: 280px;
  max-width: 520px;
  padding-top: 10px !important;
}

::ng-deep .content .mat-mdc-form-field {
  width: 100%;
}

.actions {
  gap: 8px;
}
