# Local development environment variables
# This file is used by the 'local' kustomize overlay to generate secrets.
DB_USER=S5Master_user
DB_PASSWORD=SecretPass123
password=SecretPass123
username=S5Master_user
DB_NAME=S5_DB_local
DB_PORT=5432
DB_EXTERNAL_PORT=5432
DB_HOST=localhost

PrimaryConnection__DB_HOST=localhost
PrimaryConnection__DB_USERNAME=S5Master_user
PrimaryConnection__DB_PASSWORD=SecretPass123
PrimaryConnection__DB_NAME=S5_DB_local
PrimaryConnection__Port=5432


ASPNETCORE_ENVIRONMENT=Development

# Настройки сертификата для Kestrel
KESTREL_CERT_PATH=/app/aspnetapp.pfx
KESTREL_CERT_PASSWORD=devpass