Фрагмент кода
# --- DATABASE CONFIG ---
DB_LOCAL_USER=my_app_user
DB_LOCAL_PASSWORD=
DB_LOCAL_NAME=S5_DB

# --- .NET RUNTIME CONFIG ---
ASPNETCORE_ENVIRONMENT=Development

# --- CONNECTION STRINGS ---
# Шаблон: "Host=localhost;Port=5432;Database=...;Username=...;Password=..."
ConnectionStrings__DefaultConnection=

# --- PORTS ---
DB_EXTERNAL_PORT=5432
APP_EXTERNAL_PORT=5000