# =======================================================
# 1. НАСТРОЙКИ ДЛЯ DOCKER COMPOSE (Создание базы в контейнере)
# =======================================================
# Базовые настройки БД (Источник истины) 
DB_USER=S5Master_user
DB_PASSWORD=SecretPass123
DB_NAME=S5_DB
DB_PORT=5432

# Настройки для внешнего доступа к БД с вашего ПК
DB_EXTERNAL_PORT=5432

# Окружение приложения
ASPNETCORE_ENVIRONMENT=Development
