# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/S5Server/obj
/S5Server/Front/.angular
chrome.devtools.json
/S5Server/Front/dist/Menu/browser
/S5Server/Front/dist/Menu
/S5Server/Front/node_modules
/S5Server/publish
/S5Server/wwwroot

# Build artifacts
/Release
/Publish
*.zip
*.tar.gz
S5Server-*.zip
S5Server-*.tar.gz
/Publish/S5Server
/S5Server/bin
S5Server/logs/
.vs/
S5Server/Front/dist/
S5Server/Data/S5_DB.sqlite
S5Server/Data/BackUp/
20251219 - Трактор - таблиця тригерів.xlsx
kodifikator-03-12-2025-7.csv
