@if (loading()) {
<div class="loading-container">
  <mat-spinner diameter="40"></mat-spinner>
  <span>Завантаження дерева підрозділів...</span>
</div>
} @else {
<mat-tree
  [dataSource]="dataSource"
  [childrenAccessor]="childrenAccessor"
  [expansionKey]="expansionKey"
  class="unit-tree"
>
  <!-- Универсальный узел дерева -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle class="tree-node">
    <unit-tree-node
      [node]="node"
      [isExpanded]="expansionModel.isSelected(node.id)"
      [nodeActionsTemplate]="nodeActionsTemplate"
      (toggleNode)="toggleNode($event)"
      (selectNode)="selectUnit($event)"
      (addChild)="addChild($event)"
      (editNode)="edit($event)"
      (deleteNode)="delete($event)"
    >
    </unit-tree-node>
  </mat-tree-node>
</mat-tree>
}
