@if (node(); as tmpNode) {
<div
  class="node-content"
  [class.leaf-node]="!tmpNode.hasChildren"
  [style.padding-left.px]="tmpNode.level * 20"
>
  @if (tmpNode.hasChildren) {
  <button
    mat-icon-button
    [attr.aria-label]="'Розгорнути/згорнути ' + tmpNode.name"
    class="toggle-button"
    (click)="onToggle()"
  >
    @if (tmpNode.isLoading) {
    <mat-spinner diameter="20"></mat-spinner>
    } @else {
    <mat-icon class="mat-icon-rtl-mirror">
      {{ isExpanded() ? 'expand_more' : 'chevron_right' }}
    </mat-icon>
    }
  </button>
  } @else {
  <div class="leaf-spacer"></div>
  }

  <div class="unit-info">
    <button
      class="unit-main"
      type="button"
      (click)="onSelect(); $event.stopPropagation()"
      [attr.aria-label]="'Вибрати підрозділ ' + tmpNode.shortName"
    >
      <span class="unit-name">{{ tmpNode.shortName }}</span>
    </button>
    <div class="unit-details">
        @if (tmpNode.isInvolved) {
        <mat-icon class="involved-icon" matTooltip="Екіпаж/Група">groups</mat-icon>
        } @if (tmpNode.unitType) {
        <span class="unit-type">{{ tmpNode.unitType }}</span>
        } @if (tmpNode.assignedUnitId) {
        <mat-icon class="assigned-icon" matTooltip="Приданий підрозділ">assignment_ind</mat-icon>
        }
    </div>
  </div>

  @if (nodeActionsTemplate()) {
  <div class="node-actions">
    <ng-container
      *ngTemplateOutlet="nodeActionsTemplate(); context: { $implicit: tmpNode }"
    ></ng-container>
  </div>
  }
</div>
}
