<h2 mat-dialog-title>
  <mat-icon>data_object</mat-icon>
  {{ data.title || 'Редагування JSON даних' }}
</h2>

<mat-dialog-content>
  <div class="editor-toolbar">
    <button
      mat-icon-button
      (click)="formatJson()"
      [disabled]="data.readOnly"
      matTooltip="Форматувати JSON"
    >
      <mat-icon>auto_fix_high</mat-icon>
    </button>

    <button mat-icon-button (click)="validateJson()" matTooltip="Перевірити валідність JSON">
      <mat-icon>check_circle</mat-icon>
    </button>
  </div>

  <app-codemirror-editor
    [content]="jsonContent()"
    [language]="'javascript'"
    [readOnly]="data.readOnly"
    (contentChange)="onContentChange($event)"
    class="json-editor"
  >
  </app-codemirror-editor>

  @if (isDirty()) {
  <div class="dirty-indicator">
    <mat-icon>edit</mat-icon>
    <span>Є незбережені зміни</span>
  </div>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">
    <mat-icon>close</mat-icon>
    Закрити
  </button>

  @if (!data.readOnly) {
  <button
    mat-raised-button
    color="primary"
    (click)="onSave()"
    [disabled]="!isDirty() || data.readOnly"
  >
    <mat-icon>save</mat-icon>
    Застосувати
  </button>
  }
</mat-dialog-actions>
