<div class="task-assignments">
  <div class="remove-button-container">
    <button
      mat-icon-button
      matTooltip="Видалити зі списку"
      (click)="onRemoveClick()"
      class="remove-button"
    >
      <mat-icon color="warn">remove_circle</mat-icon>
    </button>
  </div>

  <div class="task-item">
    <strong>Завдання:</strong>
    <mat-form-field appearance="outline" class="task-select">
      <mat-select placeholder="Оберіть завдання" [formControl]="taskControl">
        <mat-option value="reserve">Резерв (30)</mat-option>
        <mat-option value="combat">Бойовий виліт (100)</mat-option>
        <mat-option value="recon">Реко (100)</mat-option>
        <mat-option value="engineer">Інженери (100)</mat-option>
        <mat-option value="guard">Охорона (100)</mat-option>
        <mat-option value="notUsed">Не застосовувався (Х)</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="task-item">
    <strong>РСП для екіпажів:</strong>
    <mat-form-field appearance="outline" class="task-select">
      <mat-select placeholder="Оберіть РСП" [formControl]="areaControl">
        <mat-option value="reserve">півд.-сх. ГУЛЯЙПОЛЕ - 102 обр ТрО</mat-option>
        <mat-option value="combat">півд. ГУЛЯЙПОЛЕ - 102 обр ТрО</mat-option>
        <mat-option value="recon">ГУЛЯЙПОЛЕ - 102 обр ТрО</mat-option>
        <mat-option value="engineer">сх. ГУЛЯЙПОЛЕ - 102 обр ТрО</mat-option>
        <mat-option value="guard">ВИСОКЕ - 102 обр ТрО</mat-option>
        <mat-option value="notUsed">зах. МАЛИНІВКА - 102 обр ТрО</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="task-item">
    <strong>Засіб:</strong>
    <mat-form-field appearance="outline" class="task-select">
      <input
        type="text"
        matInput
        [formControl]="droneModelControl"
        [matAutocomplete]="droneModelAuto"
        placeholder="Оберіть модель БПЛА"
      />
      <mat-autocomplete
        #droneModelAuto="matAutocomplete"
        [displayWith]="displayDroneModelFn"
        (optionSelected)="onDroneModelSelected($event)"
      >
        <mat-option [value]="null">Не вибрано</mat-option>
        @if (isLoadingDroneModels) {
        <mat-option disabled>Завантаження...</mat-option>
        } @for (model of filteredDroneModels$ | async; track model.id) {
        <mat-option [value]="model">{{ model.value }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>

<mat-card class="unit-task-card">
  <mat-card-header>
    <mat-card-title>
      {{ unitTask.shortName }}
      @if(unitTask.isInvolved) {
      <mat-icon>groups</mat-icon>
      <span>Екіпаж/Група</span>
      }
    </mat-card-title>

    <div class="unit-info-grid">
      <div class="info-item inline">
        <strong>Тип підрозділу:</strong>
        <span>{{ unitTask.unitType || 'Не вказано' }}</span>
      </div>

      @if (unitTask.parentShortName) {
      <div class="info-item inline">
        <strong>Батьківський підрозділ:</strong>
        <span>{{ unitTask.parentShortName }}</span>
      </div>
      } @if (unitTask.assignedShortName) {
      <div class="info-item inline">
        <strong>Приданий до:</strong>
        <span>{{ unitTask.assignedShortName }}</span>
      </div>
      } @if (unitTask.comment) {
      <div class="info-item full-width comment">
        <strong>Коментар:</strong>
        <span>{{ unitTask.comment }}</span>
      </div>
      }
    </div>
    <!--
    <div class="task-assignments">
      <div class="task-item">
        <strong>Завдання:</strong>
        <mat-form-field appearance="outline" class="task-select">
          <mat-select placeholder="Оберіть завдання" [formControl]="taskControl">
            <mat-option value="reserve">Резерв (30)</mat-option>
            <mat-option value="combat">Бойовий виліт (100)</mat-option>
            <mat-option value="recon">Реко (100)</mat-option>
            <mat-option value="engineer">Інженери (100)</mat-option>
            <mat-option value="guard">Охорона (100)</mat-option>
            <mat-option value="notUsed">Не застосовувався (Х)</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="task-item">
        <strong>РСП для екіпажів:</strong>
        <mat-form-field appearance="outline" class="task-select">
          <mat-select placeholder="Оберіть РСП" [formControl]="areaControl">
            <mat-option value="reserve">півд.-сх. ГУЛЯЙПОЛЕ - 102 обр ТрО</mat-option>
            <mat-option value="combat">півд. ГУЛЯЙПОЛЕ - 102 обр ТрО</mat-option>
            <mat-option value="recon">ГУЛЯЙПОЛЕ - 102 обр ТрО</mat-option>
            <mat-option value="engineer">сх. ГУЛЯЙПОЛЕ - 102 обр ТрО</mat-option>
            <mat-option value="guard">ВИСОКЕ - 102 обр ТрО</mat-option>
            <mat-option value="notUsed">зах. МАЛИНІВКА - 102 обр ТрО</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="task-item">
        <strong>Засіб:</strong>
        <mat-form-field appearance="outline" class="task-select">
          <input
            type="text"
            matInput
            [formControl]="droneModelControl"
            [matAutocomplete]="droneModelAuto"
            placeholder="Оберіть модель БПЛА"
          />
          <mat-autocomplete
            #droneModelAuto="matAutocomplete"
            [displayWith]="displayDroneModelFn"
            (optionSelected)="onDroneModelSelected($event)"
          >
            <mat-option [value]="null">Не вибрано</mat-option>
            @if (isLoadingDroneModels) {
            <mat-option disabled>Завантаження...</mat-option>
            } @for (model of filteredDroneModels$ | async; track model.id) {
            <mat-option [value]="model">{{ model.value }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  -->
  </mat-card-header>

  <mat-card-content>
    <mat-accordion class="sections-accordion">
      @if(!unitTask.isInvolved){
      <!-- Особовий склад -->
      <mat-expansion-panel class="unit-section-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary">group</mat-icon>
            Особовий склад
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="section-content">
          <app-page-soldiers
            [items]="unitTask.soldiers"
            (reloadRequested)="reloadSoldiers()"
            [currentUnitTab]="unitTag.UnitId"
            [isReadOnly]="true"
          ></app-page-soldiers>
        </div>
      </mat-expansion-panel>
      }

      <!-- Придані військовослужбовці -->
      <mat-expansion-panel class="unit-section-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="accent">assignment_ind</mat-icon>
            Придані військовослужбовці
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="section-content">
          <app-page-soldiers
            [items]="unitTask.assignedSoldiers"
            (reloadRequested)="reloadAssignedSoldiers()"
            [currentUnitTab]="unitTag.AssignedId"
            [isReadOnly]="true"
          ></app-page-soldiers>
        </div>
      </mat-expansion-panel>

      <!-- Оперативні військовослужбовці -->
      <mat-expansion-panel class="unit-section-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="accent">groups</mat-icon>
            Задіяні військовослужбовці
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="section-content">
          <app-page-soldiers
            [items]="unitTask.involvedSoldiers"
            (reloadRequested)="reloadInvolvedSoldiers()"
            [currentUnitTab]="unitTag.InvolvedId"
            [isReadOnly]="true"
          ></app-page-soldiers>
        </div>
      </mat-expansion-panel>

      <!-- Дополнительные секции с expansion panels -->
      <!--
    <mat-expansion-panel class="unit-section-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon color="primary">gavel</mat-icon>
          Бойові розпорядження
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="section-content">
        <p class="todo-placeholder">[TODO: Тут буде список бойових розпоряджень підрозділу]</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="unit-section-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon color="primary">send</mat-icon>
          Бойові донесення
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="section-content">
        <p class="todo-placeholder">[TODO: Тут буде список бойових донесень підрозділу]</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="unit-section-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon color="primary">info</mat-icon>
          Додаткова інформація
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="section-content">
        <p class="todo-placeholder">
          [TODO: Ця секція зарезервована для майбутніх даних, які ще не визначені.]
        </p>
      </div>
    </mat-expansion-panel>
  -->
    </mat-accordion>
  </mat-card-content>
</mat-card>
