<div class="task-assignments">
  <div class="remove-button-container">
    <button
      mat-icon-button
      matTooltip="Видалити зі списку"
      (click)="onRemoveClick()"
      class="remove-button"
    >
      <mat-icon color="warn">remove_circle</mat-icon>
    </button>
  </div>

  <div class="task-item">
    <strong>Завдання:</strong>
    <mat-form-field appearance="outline" class="task-select">
      <mat-select placeholder="Оберіть завдання" [formControl]="taskControl">
        @for (task of unitTasks(); track task.id) {
          <mat-option [value]="task">{{ task.value }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="task-item">
    <strong>РСП для екіпажів:</strong>
    <mat-form-field appearance="outline" class="task-select">
      <mat-select placeholder="Оберіть РСП" [formControl]="areaControl">
        @for (area of areas(); track area.id) {
          <mat-option [value]="area">{{ area.value }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="task-item">
    <strong>Засіб:</strong>
    <mat-form-field appearance="outline" class="task-select">
      <input
        type="text"
        matInput
        [formControl]="droneModelControl"
        [matAutocomplete]="droneModelAuto"
        placeholder="Оберіть модель БПЛА"
      />
      <mat-autocomplete
        #droneModelAuto="matAutocomplete"
        [displayWith]="displayDroneModelFn"
        (optionSelected)="onDroneModelSelected($event)"
      >
        <mat-option [value]="null">Не вибрано</mat-option>
        @if (isLoadingDroneModels) {
          <mat-option disabled>Завантаження...</mat-option>
        }
        @for (model of filteredDroneModels$ | async; track model.id) {
          <mat-option [value]="model">{{ model.value }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>

<unit-content [selectedUnit]="unitForContent()"> </unit-content>
