<!-- Embedded mode -->
@if (loading()) {
  <div class="loading-container">
    <mat-spinner diameter="40"></mat-spinner>
    <span>Завантаження дерева кодифікатора...</span>
  </div>
} @else {
  <mat-tree
    [dataSource]="dataSource"
    [childrenAccessor]="childrenAccessor"
    [expansionKey]="expansionKey"
    class="city-code-tree"
  >
    <!-- Універсальний вузол дерева -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle class="tree-node">
      <dict-city-code-tree-node
        [node]="node"
        [isExpanded]="expansionModel.isSelected(node.id)"
        [nodeActionsTemplate]="nodeActionsTemplate()"
        (toggleNode)="toggleNode($event)"
        (selectNode)="selectNode($event)"
      >
      </dict-city-code-tree-node>
    </mat-tree-node>
  </mat-tree>
}
