<app-master-detail-layout storageKey="docTemplates">
  <!-- Left Panel: Набори даних та Шаблони -->
  <div leftPanel>
    <mat-tab-group>
      <mat-tab label="Набори даних">
        <app-template-dataset-table
          class="dataset-table"
          (dataSetSelected)="onDataSetSelected($event)"
        ></app-template-dataset-table>
      </mat-tab>
      <mat-tab label="Шаблони документів">
        <div class="tab-content-scroll">
          <app-page-doc-templates
            [selectedTemplate]="selectedTemplate()"
            (templateSelected)="onTemplateSelected($event)"
          >
          </app-page-doc-templates>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <!-- Right Panel: Дані, Шаблон, Результат -->
  <div rightPanel class="right-panel-tabs">
    <mat-tab-group (selectedIndexChange)="onTabChange($event)">
      <mat-tab label="Дані документа">
        <app-units-task-editor #unitsTaskEditor></app-units-task-editor>
      </mat-tab>
      <mat-tab label="Шаблон">
        <app-template-editor #templateEditor [template]="selectedTemplate()"></app-template-editor>
      </mat-tab>
      <mat-tab label="Результат обробки">
        <app-result-editor
          #resultEditor
          [templateContent]="templateContent()"
          [dataSetContent]="dataSetContent()"
        >
        </app-result-editor>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-master-detail-layout>
