<app-vertical-layout>
  <!-- Action Panel (Top) -->
  <div actionPanel>
    <h2>Завдання підрозділів</h2>
    <div class="action-buttons">
      <button mat-raised-button color="primary" (click)="reload()">Оновити</button>
      <button mat-raised-button color="primary" (click)="add()">Створити</button>
    </div>
  </div>

  <!-- Content Panel (Main) -->
  <div contentPanel>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- Value Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Назва</th>
        <td mat-cell *matCellDef="let item">{{ item.value }}</td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Сума (грн)</th>
        <td mat-cell *matCellDef="let item" class="editable-cell">
          @if (isEditing(item.id, 'amount')) {
            <!-- Режим редагування -->
            <div class="edit-mode">
              <input
                type="number"
                [(ngModel)]="editingValue"
                (ngModelChange)="updateEditingValue($event)"
                (click)="$event.stopPropagation()"
                (keydown.enter)="saveFieldChange(item, 'amount', $event)"
                (keydown.escape)="cancelEditing($event)"
                class="inline-input"
                autofocus
              />
              <button
                mat-icon-button
                class="save-btn"
                (click)="saveFieldChange(item, 'amount', $event)"
                matTooltip="Зберегти"
              >
                <mat-icon>check</mat-icon>
              </button>
              <button
                mat-icon-button
                class="cancel-btn"
                (click)="cancelEditing($event)"
                matTooltip="Відмінити"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
          } @else {
            <!-- Режим перегляду -->
            <div class="view-mode">
              <span class="value-text">{{ item.amount }}</span>
              <button
                mat-icon-button
                class="edit-btn"
                (click)="startEditing(item, 'amount', $event)"
                matTooltip="Редагувати"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          }
        </td>
      </ng-container>

      <!-- WithMeans Column -->
      <ng-container matColumnDef="withMeans">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>З засобами</th>
        <td mat-cell *matCellDef="let item" class="editable-cell">
          @if (isEditing(item.id, 'withMeans')) {
            <!-- Режим редагування -->
            <div class="edit-mode">
              <mat-checkbox
                [checked]="editingValue()"
                (change)="updateEditingValue($event.checked)"
                (click)="$event.stopPropagation()"
              ></mat-checkbox>
              <button
                mat-icon-button
                class="save-btn"
                (click)="saveFieldChange(item, 'withMeans', $event)"
                matTooltip="Зберегти"
              >
                <mat-icon>check</mat-icon>
              </button>
              <button
                mat-icon-button
                class="cancel-btn"
                (click)="cancelEditing($event)"
                matTooltip="Відмінити"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
          } @else {
            <!-- Режим перегляду -->
            <div class="view-mode">
              <mat-checkbox [checked]="item.withMeans" disabled></mat-checkbox>
              <button
                mat-icon-button
                class="edit-btn"
                (click)="startEditing(item, 'withMeans', $event)"
                matTooltip="Редагувати"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          }
        </td>
      </ng-container>

      <!-- AreaType Column -->
      <ng-container matColumnDef="areaType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Тип РВЗ</th>
        <td mat-cell *matCellDef="let item" class="editable-cell">
          @if (isEditing(item.id, 'areaTypeId')) {
            <!-- Режим редагування -->
            <div class="edit-mode">
              <mat-form-field appearance="outline" class="inline-select">
                <mat-select
                  [(ngModel)]="editingValue"
                  (ngModelChange)="updateEditingValue($event)"
                  (click)="$event.stopPropagation()"
                >
                  <mat-option *ngFor="let areaType of areaTypes()" [value]="areaType.id">
                    {{ areaType.shortValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button
                mat-icon-button
                class="save-btn"
                (click)="saveFieldChange(item, 'areaTypeId', $event)"
                matTooltip="Зберегти"
              >
                <mat-icon>check</mat-icon>
              </button>
              <button
                mat-icon-button
                class="cancel-btn"
                (click)="cancelEditing($event)"
                matTooltip="Відмінити"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
          } @else {
            <!-- Режим перегляду -->
            <div class="view-mode">
              <span class="value-text">{{
                item.areaType || getAreaTypeShortValue(item.areaTypeId)
              }}</span>
              <button
                mat-icon-button
                class="edit-btn"
                (click)="startEditing(item, 'areaTypeId', $event)"
                matTooltip="Редагувати"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          }
        </td>
      </ng-container>

      <!-- Comment Column -->
      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Коментар</th>
        <td mat-cell *matCellDef="let item">{{ item.comment }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Дії</th>
        <td mat-cell *matCellDef="let item">
          <button mat-icon-button color="accent" (click)="edit(item)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="delete(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="clickable-row"
        [class.selected]="row.id === selectedTaskId()"
        (click)="selectTask(row)"
      ></tr>
    </table>
  </div>
</app-vertical-layout>
